@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100%;
}

@media (max-width: 752px) {
    .header {
        flex-direction: column;
        gap: 25px;
    }
    .headerText {
        text-align: center;
    }
    .bgbox {
        height: 1300px;
    }
}
