@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html,
body,
#__next {
    height: 100%;
}

@media (max-width: 752px) {
    .header {
        flex-direction: column;
        gap: 25px;
    }

    .searchContainer {
        width: 100%;
    }

    .headerText {
        text-align: center;
    }
}
